form{
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}


input,textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: blue;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}
